// Start portfolio
-var shuffleClass = ['wow','bounce','shuffle-item','mb-5','col-xs-12', 'col-sm-6', 'col-md-4', 'col-lg-3'];

.section#portfolio.portfolio.wow.fadeIn
	.container
		h2 portfolio
		p.text-center Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, te usu virtute placerat. Purto brute disputando cu est, te usu virtute placerat. Purto brute disputando cu est.
		.shuffleMAF
			ul.shuffle-nav.row.justify-content-center
					li.shuffle-active all
					each shuffleText in ['design', 'develope', 'print', 'video']
						li(data-filter=shuffleText)= shuffleText
			.row.shuffle-content
				div(class=shuffleClass, data-wow-delay=50).develope
					.img1.h-equal-w
				div(class=shuffleClass, data-wow-delay=100).design
					.img2.h-equal-w
				div(class=shuffleClass, data-wow-delay=150).video
					.img3.h-equal-w
				div(class=shuffleClass, data-wow-delay=200).print
					.img4.h-equal-w
				div(class=shuffleClass, data-wow-delay=250).design
					.img5.h-equal-w
				div(class=shuffleClass, data-wow-delay=300).design
					.img6.h-equal-w
				div(class=shuffleClass, data-wow-delay=350).video
					.img7.h-equal-w
				div(class=shuffleClass, data-wow-delay=400).print
					.img8.h-equal-w
// End portfolio